.features {
  grid-column: center-start / center-end;
  // margin: 15rem 0;
  padding: 15rem 0; // Navigation positioning

  display: grid; // NEW: subgrid
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;

  @media only screen and (max-width: $bp-small) {
    padding: 10rem 0;
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  // grid-row-gap: 1.5rem;
  // grid-column-gap: 2.5rem;
  grid-gap: 1.5rem 2.5rem;

  /*-------------------------------------------------
    - Use >>Progressive enhancement<< @supports
    - Ignored by grid and flex:
      01. Floats
      02. display: inline-block and table-cell
      03. vertical-align
  -------------------------------------------------*/

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2; // -1 would not work because this is an IMPLICIT grid
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
