.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }
}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    display: block;
    padding: 1.5rem;
    font-family: $font-display;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transition: all .2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(255, 255, 255, .05);
    transform: translateY(-3px);
  }
}

.copyright {
  width: 70%;
  margin: 6rem auto 0;
  color: $color-grey-light-2;
  font-size: 1.4rem;
  text-align: center;

  @media only screen and (max-width: $bp-smallest) {
    width: unset;
  }
}
