.story {

  &__pictures {
    background-color: $color-grey-light-1;
    grid-column: full-start / col-end 4;
    // Ugly:
    // background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)),
    //                   url(../img/back.jpg);

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    padding: 6rem;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;

      grid-template-rows: repeat(5, 1fr);
    }
  }

  &__item--1 {
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / 6;
    }
  }

  &__item--2 {
    grid-row: 5 / 6;
    grid-column: 4 / -1;
    z-index: 20;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 4 / 5;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--1 {
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, .1);
    }

    &--2 {
      width: 135%;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, .2);

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
      }
    }
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;

    padding: 6rem 8vw;

    // Center with FLEX
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;

    display: grid;
    align-content: center;
    justify-items: start;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / -1;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}